%h2.text
  Tracks posted by
  = "#{@user.first_name} #{@user.last_initial}."

%table
  - @tracks.each_with_index do |track, i|
    %tr
      %td
        = "#{i + 1}. "
      %td
        = link_to(truncate(track.title, length: 57) || "ID", track.url)
      %td
        = (track.posted_on - 6.hours).strftime("Posted on %B %d at %-l:%M %p")
