%h2.text
  Tracks posted by
  = "#{@user.full_name}"

%p= paginate @tracks

%table
  %tr
    %th
    %th Track
    %th Posted on
  - @tracks.each_with_index do |track, i|
    %tr
      %td
        = "#{i + 1}."
      %td
        = link_to(truncate(track.title, length: 57) || "ID", track.url, target: '_blank')
      %td
        = (track.posted_on - 6.hours).strftime("%B %d at %-l:%M %p")
