%h1 Listing Playlists

%table
  %tr
    %th Link
    %th Time Added
    %th Added By
  = @playlists
  - @hoc.each do |item|
    %tr
      %td= link_to item['link'], item['link']
      %td= item['created_time']
      %td= item['from']['name']
= @array
