!!! 5
%html
  %head
    %title HouseOfChiPlaylist
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %body
      = image_tag "house_of_chi.jpg", width: 600, class: 'banner'
      - if flash[:notice]
        %p.flash
          = flash[:notice]
      - if current_user
        = "Signed in as #{current_user.name}"
        = button_to "Sign out", signout_path, class: 'button', method: 'get'
      -# else
        = button_to "Sign in with Facebook", "/auth/facebook", class: 'button', method: 'get'
      = render 'layouts/google_analytics' if Rails.env.production?
    %div.content
      = yield
